In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
# create spark sessiom
spark=SparkSession.builder.getOrCreate()

In [6]:
sdf=spark.read.csv('Bank Churn Modelling.csv',header=True,inferSchema=True)

In [7]:
sdf.show()

+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+
|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|Num Of Products|Has Credit Card|Is Active Member|Estimated Salary|Churn|
+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+
|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|              1|              1|               1|       101348.88|    1|
|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|              1|              0|               1|       112542.58|    0|
|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|              3|              1|               0|       113931.57|    1|
|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|              2|              0|               0|        93826.63|    0|
|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|              1|              1|               1|         79084.1|    0|
|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|              2|              1|               0|       149756.71|    1|
|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|              2|              1|               1|         10062.8|    0|
|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|              4|              1|               0|       119346.88|    1|
|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|              2|              0|               1|         74940.5|    0|
|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|              1|              1|               1|        71725.73|    0|
|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|              2|              0|               0|        80181.12|    0|
|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|              2|              1|               0|        76390.01|    0|
|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|              2|              1|               0|        26260.98|    0|
|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|              2|              0|               0|       190857.79|    0|
|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|              2|              1|               1|        65951.65|    0|
|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|              2|              0|               1|        64327.26|    0|
|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|              1|              1|               0|         5097.67|    1|
|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|              2|              1|               1|        14406.41|    0|
|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|              1|              0|               0|       158684.81|    0|
|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|              2|              1|               1|        54724.03|    0|
+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+
only showing top 20 rows

In [8]:
sdf.columns

['CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'Num Of Products',
 'Has Credit Card',
 'Is Active Member',
 'Estimated Salary',
 'Churn']

In [9]:
sdf=sdf.dropna()

In [10]:
sdf.printSchema

<bound method DataFrame.printSchema of DataFrame[CustomerId: int, Surname: string, CreditScore: int, Geography: string, Gender: string, Age: int, Tenure: int, Balance: double, Num Of Products: int, Has Credit Card: int, Is Active Member: int, Estimated Salary: double, Churn: int]>

In [11]:
sdf.show()

+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+
|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|Num Of Products|Has Credit Card|Is Active Member|Estimated Salary|Churn|
+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+
|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|              1|              1|               1|       101348.88|    1|
|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|              1|              0|               1|       112542.58|    0|
|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|              3|              1|               0|       113931.57|    1|
|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|              2|              0|               0|        93826.63|    0|
|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|              1|              1|               1|         79084.1|    0|
|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|              2|              1|               0|       149756.71|    1|
|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|              2|              1|               1|         10062.8|    0|
|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|              4|              1|               0|       119346.88|    1|
|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|              2|              0|               1|         74940.5|    0|
|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|              1|              1|               1|        71725.73|    0|
|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|              2|              0|               0|        80181.12|    0|
|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|              2|              1|               0|        76390.01|    0|
|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|              2|              1|               0|        26260.98|    0|
|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|              2|              0|               0|       190857.79|    0|
|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|              2|              1|               1|        65951.65|    0|
|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|              2|              0|               1|        64327.26|    0|
|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|              1|              1|               0|         5097.67|    1|
|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|              2|              1|               1|        14406.41|    0|
|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|              1|              0|               0|       158684.81|    0|
|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|              2|              1|               1|        54724.03|    0|
+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+
only showing top 20 rows

In [12]:
sdf.dtypes

[('CustomerId', 'int'),
 ('Surname', 'string'),
 ('CreditScore', 'int'),
 ('Geography', 'string'),
 ('Gender', 'string'),
 ('Age', 'int'),
 ('Tenure', 'int'),
 ('Balance', 'double'),
 ('Num Of Products', 'int'),
 ('Has Credit Card', 'int'),
 ('Is Active Member', 'int'),
 ('Estimated Salary', 'double'),
 ('Churn', 'int')]

In [13]:
sdf.columns

['CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'Num Of Products',
 'Has Credit Card',
 'Is Active Member',
 'Estimated Salary',
 'Churn']

In [14]:
from pyspark.ml.feature import StringIndexer

In [15]:
si=StringIndexer(inputCols=['Geography','Gender'],outputCols=['iGeography','iGender'])

In [16]:
sdf=si.fit(sdf).transform(sdf)

In [17]:
sdf.columns

['CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'Num Of Products',
 'Has Credit Card',
 'Is Active Member',
 'Estimated Salary',
 'Churn',
 'iGeography',
 'iGender']

In [18]:
from pyspark.ml.feature import VectorAssembler

In [19]:
va=VectorAssembler(inputCols=['CreditScore',
'Tenure',
 'Balance',
 'Num Of Products',
 'Has Credit Card',
 'Is Active Member',
 'Estimated Salary',
 'iGeography',
 'iGender'],outputCol='X')

In [20]:
sdf=va.transform(sdf)

In [21]:
sdf.show()

+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+----------+-------+--------------------+
|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|Num Of Products|Has Credit Card|Is Active Member|Estimated Salary|Churn|iGeography|iGender|                   X|
+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+----------+-------+--------------------+
|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|              1|              1|               1|       101348.88|    1|       0.0|    1.0|[619.0,2.0,0.0,1....|
|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|              1|              0|               1|       112542.58|    0|       2.0|    1.0|[608.0,1.0,83807....|
|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|              3|              1|               0|       113931.57|    1|       0.0|    1.0|[502.0,8.0,159660...|
|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|              2|              0|               0|        93826.63|    0|       0.0|    1.0|[699.0,1.0,0.0,2....|
|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|              1|              1|               1|         79084.1|    0|       2.0|    1.0|[850.0,2.0,125510...|
|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|              2|              1|               0|       149756.71|    1|       2.0|    0.0|[645.0,8.0,113755...|
|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|              2|              1|               1|         10062.8|    0|       0.0|    0.0|[822.0,7.0,0.0,2....|
|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|              4|              1|               0|       119346.88|    1|       1.0|    1.0|[376.0,4.0,115046...|
|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|              2|              0|               1|         74940.5|    0|       0.0|    0.0|[501.0,4.0,142051...|
|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|              1|              1|               1|        71725.73|    0|       0.0|    0.0|[684.0,2.0,134603...|
|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|              2|              0|               0|        80181.12|    0|       0.0|    0.0|[528.0,6.0,102016...|
|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|              2|              1|               0|        76390.01|    0|       2.0|    0.0|[497.0,3.0,0.0,2....|
|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|              2|              1|               0|        26260.98|    0|       0.0|    1.0|[476.0,10.0,0.0,2...|
|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|              2|              0|               0|       190857.79|    0|       0.0|    1.0|[549.0,5.0,0.0,2....|
|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|              2|              1|               1|        65951.65|    0|       2.0|    1.0|[635.0,7.0,0.0,2....|
|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|              2|              0|               1|        64327.26|    0|       1.0|    0.0|[616.0,3.0,143129...|
|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|              1|              1|               0|         5097.67|    1|       1.0|    0.0|[653.0,1.0,132602...|
|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|              2|              1|               1|        14406.41|    0|       2.0|    1.0|[549.0,9.0,0.0,2....|
|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|              1|              0|               0|       158684.81|    0|       2.0|    0.0|[587.0,6.0,0.0,1....|
|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|              2|              1|               1|        54724.03|    0|       0.0|    1.0|[726.0,6.0,0.0,2....|
+----------+---------+-----------+---------+------+---+------+---------+---------------+---------------+----------------+----------------+-----+----------+-------+--------------------+
only showing top 20 rows

In [22]:
data=sdf.select(['Churn','X'])

In [23]:
data.show()

+-----+--------------------+
|Churn|                   X|
+-----+--------------------+
|    1|[619.0,2.0,0.0,1....|
|    0|[608.0,1.0,83807....|
|    1|[502.0,8.0,159660...|
|    0|[699.0,1.0,0.0,2....|
|    0|[850.0,2.0,125510...|
|    1|[645.0,8.0,113755...|
|    0|[822.0,7.0,0.0,2....|
|    1|[376.0,4.0,115046...|
|    0|[501.0,4.0,142051...|
|    0|[684.0,2.0,134603...|
|    0|[528.0,6.0,102016...|
|    0|[497.0,3.0,0.0,2....|
|    0|[476.0,10.0,0.0,2...|
|    0|[549.0,5.0,0.0,2....|
|    0|[635.0,7.0,0.0,2....|
|    0|[616.0,3.0,143129...|
|    1|[653.0,1.0,132602...|
|    0|[549.0,9.0,0.0,2....|
|    0|[587.0,6.0,0.0,1....|
|    0|[726.0,6.0,0.0,2....|
+-----+--------------------+
only showing top 20 rows

In [24]:
train, test= data.randomSplit([0.7,0.3],seed=2529)

In [25]:
train.columns

['Churn', 'X']

In [26]:
from pyspark.ml.feature import StandardScaler

In [27]:
ss=StandardScaler(inputCol='X',outputCol="sX",withStd=True,withMean=True)

In [28]:
strain=ss.fit(train).transform(train)

In [29]:
stest=ss.fit(train).transform(test)

In [30]:
from pyspark.ml.classification import LogisticRegression

In [31]:
logit=LogisticRegression(featuresCol='sX',labelCol='Churn')

In [32]:
results=logit.fit(strain).transform(stest)

In [34]:
logit.fit(strain)

LogisticRegressionModel: uid=LogisticRegression_42228460d712, numClasses=2, numFeatures=9

In [36]:
results=logit.fit(strain).transform(stest)

In [37]:
results

DataFrame[Churn: int, X: vector, sX: vector, rawPrediction: vector, probability: vector, prediction: double]

In [38]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [39]:
mce= MulticlassClassificationEvaluator(predictionCol='prediction',labelCol='Churn',metricName='accuracy')

In [40]:
mce.evaluate(results)

0.8056300268096515

In [41]:
from pyspark.ml.classification import RandomForestClassifier

In [42]:
rfc= RandomForestClassifier(featuresCol='X',labelCol='Churn')

In [43]:
results=rfc.fit(train).transform(test)

In [44]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [45]:
mce= MulticlassClassificationEvaluator(predictionCol='prediction',labelCol='Churn',metricName='accuracy')

In [46]:
mce.evaluate(results)

0.8260723860589813

In [55]:
from pyspark.ml.classification import LogisticRegression

In [59]:
lr=LogisticRegression(featuresCol='X',labelCol='Churn')

In [60]:
results=lr.fit(train).transform(test)

In [61]:
lr.fit(train).transform(test).show()

+-----+--------------------+--------------------+--------------------+----------+
|Churn|                   X|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|    0|(9,[0,1,3,6],[413...|[1.82605480013236...|[0.86129107014923...|       0.0|
|    0|(9,[0,1,3,6],[474...|[1.70242670490369...|[0.84585141083148...|       0.0|
|    0|(9,[0,1,3,6],[497...|[1.72757032530748...|[0.84910137431828...|       0.0|
|    0|(9,[0,1,3,6],[501...|[1.78514231311908...|[0.85633067669134...|       0.0|
|    0|(9,[0,1,3,6],[532...|[1.81798220447741...|[0.86032383138104...|       0.0|
|    0|(9,[0,1,3,6],[537...|[1.67210573050045...|[0.84185636780065...|       0.0|
|    0|(9,[0,1,3,6],[544...|[1.71501257302707...|[0.84748530825935...|       0.0|
|    0|(9,[0,1,3,6],[552...|[1.72560146454876...|[0.84884893424467...|       0.0|
|    0|(9,[0,1,3,6],[554...|[1.68358715301369...|[0.84337894523666...|       0.0|
|    0|(9,[0,1,3,6],[559...|[1.64414282548166...|[0.83809786439725...|       0.0|
|    0|(9,[0,1,3,6],[561...|[1.67410024806491...|[0.84212172532948...|       0.0|
|    0|(9,[0,1,3,6],[562...|[1.69376761867715...|[0.84471899604174...|       0.0|
|    0|(9,[0,1,3,6],[582...|[1.67296975222532...|[0.84197136468839...|       0.0|
|    0|(9,[0,1,3,6],[586...|[1.75078841002362...|[0.85205221592287...|       0.0|
|    0|(9,[0,1,3,6],[597...|[1.69169240692449...|[0.84444659821174...|       0.0|
|    0|(9,[0,1,3,6],[615...|[1.84039256180434...|[0.86299512840192...|       0.0|
|    0|(9,[0,1,3,6],[622...|[1.72861855310934...|[0.84923563274911...|       0.0|
|    0|(9,[0,1,3,6],[623...|[1.63237560535349...|[0.83649481305298...|       0.0|
|    0|(9,[0,1,3,6],[628...|[1.71377997557183...|[0.84732592190999...|       0.0|
|    0|(9,[0,1,3,6],[631...|[1.67030302876843...|[0.84161621857428...|       0.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [63]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [66]:
mce=MulticlassClassificationEvaluator(labelCol='Churn',predictionCol='prediction',metricName='accuracy')

mce.evaluate(results)

In [67]:
mce.evaluate(results)

0.8056300268096515